<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Главная страница</a>
<a href="/video/add-video">Добавить видео</a>
<hr>
    <video th:poster="${posterSource}" preload="auto" autoplay="autoplay"  width="600" height="400" controls data-setup='{}'>
        <source th:each="videoSource: ${videoSources}" th:src="${videoSource.value}" th:type="${videoMimeType}" th:label="${videoSource.key}" th:res="${videoSource.key}"  />
        Your browser does not support the video tag.
    </video>
    <p th:text="${title}"/>
    <p th:text="${description}"/>
</body>
</html>