<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Главная страница</a>
<a href="/video/add-video">Добавить видео</a>
<hr>
    <video preload="auto" autoplay="autoplay"  width="600" height="400" controls>
        <source th:src="${videoSource}" th:type="${mimeType}">
        Your browser does not support the video tag.
    </video>
    <p th:text="${name}"/>
    <p th:text="${description}"/>
</body>
</html>